/* Navigation */

.navbar-container{
    width: 100%;
    background-color: red;
    z-index: 3;
}

/* black navigation or top part */

.navbar-container > .black-nav{
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    padding-bottom: 30px;
    z-index: 1;
    position: fixed;
    right: 0;
    left: 0;
}


/* the top left side which contains email and phone */

.navbar-container > .black-nav > .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    cursor: pointer;
}

 .left > .email, .phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 90%;
}

.left > .email > .nav-icon{
    color: #c29d59;
    font-size: 1.4rem;
}
.left > .phone > .nav-icon{
    color: #c29d59;
    font-size: 1.4rem;
    
}

.left > .phone{
    padding: 4px;
    color: #fff;
}
.left > .email{
    border-right: 1px solid #c29d59;
    padding: 4px;
    color: #fff;
}
.left > .phone:hover{
    background-color: #fff;
    color: black;
}
.left > .email:hover{
    background-color: #fff;
    color: black;
}

 .left > span > h3{
    color: #fff;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

/* the right side which holds social medias */

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.right > span{
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    height: 50%;
    display: flex;
    cursor: pointer;
    color: #c29d59;
    padding: 15px;
}

.right > span:hover{
    background-color: #fff;
}

.has-line2{
    border-left: 1px solid #c29d59;
    border-right: 1px solid #c29d59;
    
}

.white-nav{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13vh;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    position: fixed;
    top: 63px;
    z-index: 1;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.099);
}

.white-nav > .logos > img{
    height: 60px;
    width: 100%;
    margin: 18%;
}

.reserve{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin: 4%;
}

.reserve > button{
    padding: 8px 2.4rem;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #c29d59;
    border: 1px solid #c29d59;
    cursor: pointer;
    font-weight: 800;
}

.reserve > button:hover{
    background-color: #000;
    color: #fff;
}


.reserve > .search{
    color: #000;
    /* background-color: #c29d59; */
    padding: 8px;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.reserve > .menu{
    color: #fff;
    font-size: 2.4rem;
    padding: 8px;
    background-color: #c29d59;
    border-radius: 50%;
    cursor: pointer;
}


/* Modal */
.overlay{
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(49, 49, 49, .8);
    animation-name: lay;
    animation-duration: .6s;
}

@keyframes lay{
    0%{
       
        left: 100%;
        background-color: rgba(49, 49, 49);
         
    }100%{
        left: 0%;
        background-color: rgba(49, 49, 49, .8);
         
    }
}

.modal-content{
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 49);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation-name: cont;
    animation-duration: 1.5s;
}

@keyframes cont{
    0%{
        left: 100%;
    }100%{
        left: 0%;
    }
}

.images{
    position: fixed;
    right: 0;
    top: 60%;
    left: 85%;
    width: 14%;
    opacity: .2;
    animation-name: img;
    animation-duration: 1.4s;
}

@keyframes img{
    0%{
        left: 100%;
    }100%{
        left: 85%;
    }
}

 

.closeModal{
    border: 2px solid #ffffff;
    background-color: #a5191900;
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    /* position: fixed;
    top: 11.7%;
    left: 88.5%; */
    cursor: pointer;
}

.top-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5.5% 8%;
}

.top-menu > img{
    width: 30%;
}

.bottom-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-links{
    width: 35%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4%;
    background-color: #393939;
    padding: 2rem;
}

.menu-links span{
    font-size: 1.6rem;
    margin-left: 10%;
}
.menu-links span a{
    color: #fff;
    text-decoration: none;
}
.menu-links span a:hover{
    color: #c29d59;
}

.menu-socials{
    display: flex;
    flex-direction: column;
    gap: 4%;
    width: 20%;
    justify-content: center;
    margin-top:8%;
}
.menu-socials span{
    font-size: 1.6rem;
    color: #fff;
    background-color: #c29d59;
    width: 12%;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18%;
    cursor: pointer;
}

/* responsive */

@media only screen and (max-width: 1200px){
    /* Black nav */
    .navbar-container{
        width: 1200px;
    }
    .navbar-container > .black-nav{
        height: 6vh;
        padding-bottom: 20px;
    }

    .left > .phone > .nav-icon {
        color: #c29d59;
        font-size: 1.2rem;
    }
    .left > .phone, .email h3{
        /* padding: 4px; */
        color: #ffffff;
        font-size: 1.1rem;
    }
    .white-nav{
        width: 90%;
        position: fixed;
        top: 46px;
    }

    .white-nav > .logos img{
        height: 50px;
    }
    .reserve{
        margin: 3%;
    }

}

@media only screen and (max-width: 925px){
    /* Black nav */
    .navbar-container{
        width: 926px;
    }
    .navbar-container > .black-nav{
        height: 6vh;
        padding-bottom: 20px;
    }

    .left > .phone > .nav-icon {
        color: #c29d59;
        font-size: 1.2rem;
    }
    .left > .phone, .email h3{
        /* padding: 4px; */
        color: #ffffff;
        font-size: 1.1rem;
    }
    .white-nav{
        width: 90%;
        position: fixed;
        top: 46px;
    }

    .white-nav > .logos img{
        height: 50px;
    }
    .reserve{
        margin: 3%;
    }

}

@media only screen and (max-width: 800px){
    /* Black nav */
    .navbar-container{
        width: 801px;
    }
   .black-nav{
    display: none;
   }
    .white-nav{
        width: 100%;
        position: fixed;
        top: 46px;
        margin: 0;
        top: 0;
    }

    .white-nav > .logos img{
        height: 50px;
    }
    .reserve{
        margin: 3%;
    }

}

@media only screen and (max-width: 600px){
	.navbar-container{
        width: 601px;
    }
   .black-nav{
    display: none;
   }
    .white-nav{
        width: 100%;
        position: fixed;
        top: 46px;
        margin: 0;
        top: 0;
    }

    .white-nav > .logos img{
        height: 50px;
        width: 70%;
        margin: 14%;
    }
    .reserve{
        margin: 3%;
    }
    .reserve > button{
        padding: 8px 12px;
        font-size: 1rem;
    }
    .reserve > .search{
        font-size: 1rem;
    }
    .reserve > .menu{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 425px){
	.navbar-container{
        width: 426px;
    }
   .black-nav{
    display: none;
   }
    .white-nav{
        width: 100%;
        position: fixed;
        top: 46px;
        margin: 0;
        top: 0;
        height: 12vh;
    }

    .white-nav > .logos img{
        height: 60px;
        width: 80%;
        margin-left: 9%;
    }
    .reserve{
        margin: 3%;
    }
    .reserve > button{
        padding: 7px 14px;
        font-size: 1.1rem;
    }
    .reserve > .search{
        font-size: 1.1rem;
    }
    .reserve > .menu{
        font-size: 1.4rem;
    }
}


@media (max-width: 414px){
    .navbar-container{
        width: 414px;
    }
    .navbar-container > .black-nav{
    position: fixed;
    display: none;
    z-index: 0;
   }
    .white-nav{
        width: 100%;
        position: fixed;
        top: 46px;
        margin: 0;
        top: 0;
        height: 11vh;
    }

    .white-nav > .logos img{
        height: 40px;
        width: 80%;
        margin-left: 8%;
    }
    .reserve{
        margin: 3%;
    }
    .reserve > button{
        padding: 10px 12px;
        font-size: 1rem;
    }
    .reserve > .search{
        font-size: 1.2rem;
    }
    .reserve > .menu{
        font-size: 1.4rem;
    }
    .overlay {
        width: 414px;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background-color: rgba(49, 49, 49, .8);
        animation-name: lay;
        animation-duration: .6s;
    }
    .modal-content {
        width: 414px;
        height: 100%;
        background-color: rgba(49, 49, 49);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        animation-name: cont;
        animation-duration: 1.5s;
    }
    .top-menu {
        display: flex;
        width: 92%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5.5% 3%;
    }
    .top-menu > img {
        width: 70%;
        height: 60px;
    }
    .bottom-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu-links {
        width: 80%;
        height: 40vh;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 4%;
        background-color: #393939;
    }
    .menu-socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6%;
        /* background-color: red; */
        width: 60%;
        justify-content: space-around;
        margin-top: 14%;
        margin-left: 9%;
    }
    .images {
        position: fixed;
        right: 0;
        top: 65%;
        left: 40%;
        width: 40%;
        opacity: .2;
        animation-name: img;
        animation-duration: 1.4s;
    }
    @keyframes img{
        0%{
            left: 100%;
        }100%{
            left: 40%;
        }
    }
    
}

@media (max-width: 375px){
    .navbar-container{
        width: 375px;
    }
   .black-nav{
    display: none;
   }
    .white-nav{
        width: 100%;
        position: fixed;
        top: 46px;
        margin: 0;
        top: 0;
        height: 11vh;
    }

    .white-nav > .logos img{
        height: 40px;
        width: 80%;
        margin-left: 8%;
    }
    .reserve{
        margin: 3%;
    }
    .reserve > button{
        padding: 10px 12px;
        font-size: 1rem;
    }
    .reserve > .search{
        font-size: 1.2rem;
    }
    .reserve > .menu{
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 325px){
    .navbar-container{
        width: 325px;
    }
   .black-nav{
    display: none;
   }
    .white-nav{
        width: 100%;
        position: fixed;
        top: 46px;
        margin: 0;
        top: 0;
        height: 11vh;
    }

    .white-nav > .logos img{
        height: 40px;
        width: 80%;
        margin-left: 8%;
    }
    .reserve{
        margin: 3%;
    }
    .reserve > button{
        padding: 10px 12px;
        font-size: 1rem;
    }
    .reserve > .search{
        font-size: 1.2rem;
    }
    .reserve > .menu{
        font-size: 1.4rem;
    }
}
