.contacts-image{
    width: 100%;
    height: 70vh;
    background-image: url('../../../images/contact-banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-overlay{
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: rgba(3, 3, 3, 0.6);
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-image h1{
    color: #fff;
    font-size: 5rem;
}

/* contact body */
.contacts-body{
    width: 100%;
    padding-bottom: 4.7rem;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.contacts-body form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    gap: 16px;
    background-color: #ffffff;
    height: 40vh;
    box-shadow: 1px 1px 8px 1px rgba(3, 3, 3, 0.2);
    justify-content: space-evenly;
    padding: 50px;
    position: relative;
    bottom: -40px;
    left: 4%;
    border-radius: 8px;

}

.contacts-body form .fullname{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fullname .fname{
    color: #c29d59;
    font-weight: 900;
    font-size: 1.4rem;
    position: relative;
    left: 30px;
}

.contacts-body form input{
    height: 2vh;
    border: 2px solid #c29d59;
    border-radius: 4px;
    padding: 8px 12px 12px 35px;
    
}

.contacts-body form textarea{
    width: 90%;
    /* border: 2px solid #c29d59; */
    padding: 8px;
    border-radius: 4px;

}

.contacts-body form .form-btn{
    width: 90%;
}

.form-btn button{
    width: 8rem;
    height: 2rem;
    border: 1px;
    background-color: #c29d59;
    border-radius: 4px;
    color: #fff;
    font-size: 1.3rem;
}

/* the right side with questions */
.contacts-questions{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.why{
    padding: 30px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
    box-shadow: 1px 1px 8px 1px rgba(3, 3, 3, 0.2);
    background-color: #fff;
}

.why span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.why span .line{
    width: 4px;
    height: 40px;
    background-color: #c29d59;
}

.why span h1{
    font-size: 1.6rem;
}

.ask{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 6px;
}

.quest{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 6px;
    color: #fff;
}

.question span .line{
    width: 4px;
    height: 40px;
    background-color: #000;
}
.question span{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    box-shadow: 1px 1px 8px 1px rgba(3, 3, 3, 0.2);
    /* background-color: #fff; */
    padding: 8px;
    height: 30vh;
    background-color: #c29d59;
}


/* in body part at map and contacts location  */
.add-map{
    display: flex;
    gap: 2rem;
    background-color: #fff;
    padding-bottom: 6rem;
}

.address-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    margin-left: 3rem;
}

.mail{
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.098);
    padding: 4px;
    color: #c29d59;
    font-size: 1.2rem;
}
.adr{
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.098);
    padding: 4px;
    color: #c29d59;
    font-size: 1.4rem;
}

.titt{
    color: #c29d59;
    font-size: 1.2rem;
    background-color: #c29d59;
    width: 5px;
    height: 28px;
}

.phn{
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.098);
    padding: 4px;
    color: #c29d59;
    font-size: 1.2rem;
}

.wr{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: rgb(107, 104, 104);
}

.map{
    width: 80%;
    height: 500px;
    margin-left: 4rem;
}

/* responsive */
@media (max-width: 414px){
    .contacts-container{
        max-width: 414px;
    }
    .contacts-image{
        max-width: 100%;
    }
    .contacts-overlay{
        max-width: 100%;
        display: flex;
        align-items: center;
    }
    .contacts-image h1 {
        color: #fff;
        font-size: 4rem;
    }
    .contacts-body form textarea {
        width: 90%;
        height: 10%;
        padding: 8px;
        border-radius: 4px;
    }
    .contacts-body {
        max-width: 100%;
        padding-bottom: 4.7rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .contacts-body form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        gap: 16px;
        background-color: #fff;
        height: 40vh;
        box-shadow: 1px 1px 8px 1px rgba(3, 3, 3, 0.2);
        justify-content: space-evenly;
        padding: 50px;
        position: relative;
        bottom: -40px;
        left: 0%;
        border-radius: 8px;
    }

    .contacts-body form .fullname{
        /* background-color: red; */
        width: 90%;
        display: flex;
        align-items: center;
    }
    .contacts-body form input {
        height: 2vh;
        width: 100%;
        border-radius: 4px;
        padding: 12px 12px 12px 30px;
    }
    .fullname .fname{
        left: 25px;
        font-size: 1.6rem;
    }

    .contacts-questions {
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        /* background-color: red; */
        height: 80vh;
        justify-content: space-between;
        max-width: 414px;
    }
    .why {
        padding: 30px;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        bottom: -80px;
        left: 40px;
        width: 55%;
        box-shadow: 1px 1px 8px 1px rgba(3, 3, 3, 0.2);
        background-color: #fff;
    }
    .why span h1 {
        font-size: 1rem;
    }
    .why span .line {
        width: 4px;
        height: 25px;
        background-color: #c29d59;
    }
    .ask {
        display: flex;
        align-items: center;
        font-size: .97rem;
        margin: 0px;
        /* background-color: red; */
    }
    .question {
        max-width: 65%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 12px;
        box-shadow: 1px 1px 8px 1px rgba(3, 3, 3, 0.2);
        /* background-color: #fff; */
        padding: 8px;
        height: 30vh;
        background-color: #c29d59;
    }
    .question span h1{
        font-size: 1.5rem;
    }
    .question span .line{
        height: 30px;
    }
    .quest {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin: 6px;
        color: #fff;
        gap: 6px;
    }
    
    /* the map part */
    .add-map {
        max-width: 414px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #fff;
        padding-bottom: 16rem;
    }
    .add-map .address{
        max-width: 414px;
    }
    .map {
        width: 80%;
        height: 200px;
        margin-left: 1.5rem;
    }

    .address-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 10rem;
        margin-left: 2rem;

    }
    .address-wrap h2{
        font-size: 1.1rem;
    }
    .address-wrap h4{
        font-size: .8rem;
    }
    .wr {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        color: rgb(107, 104, 104);
        max-width: 80%;
    }
    .wr svg{
        font-size: .8rem;
    }
    .titt {
        color: #c29d59;
        font-size: 1.2rem;
        background-color: #c29d59;
        width: 3px;
        height: 28px;
    }
}