/* the whole daboard */
.dashboard{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

/* left side of the .dashboard */

.left-dash{
    background-color: #fff;
    width: 20%;
    /* border: 1px solid black; */
    height: 100%;
    box-shadow: 3px 2px 13px 1px rgba(0, 0, 0, 0.429);
    border-right: 2px solid #0000003d;
}

/* main place that holds outlet */
.right-dash{
    background-color: #fdfdfd;
    width: 90%;
}

/* a place that holds profile image */
.top-body{
    background-color: #fff;
    display: flex;
    width: 100%;
    padding-bottom: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 10px 3px 2px rgba(0,0,0,0.089);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: .5%;
}

.top-body h1{
    margin-left: 1rem;
}

/* profile */
.dash-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    margin-right: 6%;
    margin-top: 1%;
}

/* dashboard logo image upper dashboard text */
.dash-profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.dash-icon{
    font-size: 3rem;
    color: rgb(153, 138, 119);
}

/* top text that suppose to take you back */
.back{
    display: flex;
    align-items: center;
    margin: 18px;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgba(26, 19, 19, 0.747);
    cursor: pointer;
}

.back a{
    text-decoration: none;
    color: rgba(26, 19, 19, 0.747);
}

.back a:hover{
    color: #c29d59;
}

/* dashboarb image container */
.dash-image{
    width: 100%;
}

/* dashboard profile */
.dash-image img{
    width: 100%;
    height: 120px;
    opacity: .7;
}

/* components of .dashboard */
.components{
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

/* icons of dashboard components and text */
.board-icons{
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    font-size: 1.4rem;
}

/* dashboard components link */
.board-icons a{
    text-decoration: none;
    color: #091c22;
}

.board-icons a:hover{
    color: #c29d59;
}

.board-icons a:active{
    color: #c29d59;
}

/* icons of dashboard components */
.icon1{
    color: rgb(57, 95, 110);
}

/* logout section */
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin: 20px;
    cursor: pointer;
    width: 100%;
    opacity: .9;
}

.logout:hover{
    color: #c29d59;
}

/* the highlighted text under dashboard logo */
.main-menu{
    height: 10vh;
    display: flex;
    margin-left: 18px;
    opacity: .3;
}

