.table-wrapper{
    width: 100%;
    margin-top: 2rem;
}
.table-wrapper h1{
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.table{
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px 10px#ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100%;
    max-width: 90%;
    margin: auto;
    overflow-x: auto;
    /* height: 40vh; */
}

.table thead{
    color: #222;
    width: 100%;
    background-color: #22222254;
}
table{
    width: 100%;
    border-spacing: 0px;
}

tr{
    width: 100%;
}

th{
    text-align: start;  
    /* background-color: red; */
}


.table th,
.table td{
    padding: 0.8rem;
}

.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    /* border-collapse: collapse; */
    text-overflow: ellipsis;
}

.table tbody tr:hover {
    background-color: #eee;
}



.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: #fff;
}
.actions{
    display: flex;
    gap: 14px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.actions svg{
    cursor: pointer;
}

.delete-btn{
    color: #e10d05;
}

<<<<<<< HEAD
/* backdrop image */

.backdrop{
    width: 70px;
    height: 60px;
}
=======
.backdrop{
    width: 80px;
    height: 60;
}
>>>>>>> 2296f8fb64726c41824b036a6777c1196a52e81b
